
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;700&display=swap');

*{
    box-sizing: border-box;
}

body {
    background: #e5e5e5;
    font-family: 'Libre Franklin', sans-serif;

}

main{
    max-width: 800px;
    width: 90%;
    margin: auto;
    padding: 40px;
}
ul li {
    list-style-type: none;
 }
li{
    display: inherit;
    align-items: center;
    margin: 5px;
    border-top: 1px solid #080808;
}

.containerCurso{
    display:inline-flex;
    margin-bottom: 5px;
    margin-left: 10px;

}